body{

    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #a0e4f7e1;
}


#A{
    
    width: 400px;
    height: 600px;

}


.rom{
    display: flex;
    height: 100px;
}


input[type="text"]{

    flex: 1;
    border: none;
    outline: none;
    background-color: #fb7c14;
    color: rgb(0, 0, 0);
    font-size: 1,7em;
    padding: 0 20px;



}


button{
    flex: 1;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 2em;
    box-shadow: -8px -8px 15px   rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 90%;
    
    
    
}
#yes{
    background-color: #fb7c14;
}


button:hover{
    background-color: #0000007d;
    cursor: pointer;
}

.Q{
    flex: 2;
}
